:root {  /* Sirve para definir variables, sirve para no tener que poner el nombre manualmente a cada rato si no, usar las variables siempre que vayamos a emplear ese color */
        --primary-color: #6c63ff;
        --dark-bg: #121212;
        --darker-bg: #0a0a0a;
        --light-text: #f5f5f5;
        --gray-text: #aaaaaa;
        --card-bg: #1e1e1e;
        --border-color: #2d2d2d;
        --transition: all .3s ease;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* para que los elemenentos solo ocupen el espacio que necesiten*/
}

html {
    scroll-behavior: smooth; /* para que cuando demos clic en los enlaces, nos lleve a sus apartados de forma progresiva*/
    scrollbar-color: var(--primary-color) var(--dark-bg); /* para que la barra sea de otro color*/

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var( --dark-bg);
    color: var(--light-text);
    line-height: 1.6;
}

a{
    text-decoration: none; /* para que no tengan subrayado*/
    color: inherit;
}

ul{
    list-style: none;
}

img{
    max-width: 100%; /* para que se adapte al contenedor*/
    height: auto;
    display: block; /* hace que un elemento ocupe todo el ancho disponible y empiece en una nueva línea, apilándose verticalmente con otros elementos de bloque.*/
}

header{
    position: fixed; /*para que esté fijo*/
    top: 0; /* para que esté bien arriba*/
    left: 0; /*para que este bien a la izquierda*/
    width: 100%; /* queremos que ocupe el 100% del anchp disponible */
    background-color: rgba(10, 10, 10, 0.9); /* es para que se vea medio transparente, con sombra*/
    backdrop-filter: blur(10px); /* para que se vea borroso lo que hay abajo*/
    z-index: 100; /* para que aparezca arriba*/
    border-bottom: 1px solid var(--border-color);  /* todo esto es para que el header se vea como difuminado a medida que bajas*/
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    margin: 0 auto; /* para centrarlo*/
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span {
    color: var(--primary-color);
}

.nav-links{
    display: flex;
    gap: 2rem; /* es una separacion entre ellos*/
}

.nav-links a {
    position: relative;
    padding: .5rem 0;
    transition: var(--transition);
}

.nav-links a:after{
    content: '';
    position: absolute; /* con esto, estamos dandole estilos al hover de los enlaces*/
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* un alto de */
    background-color: var(--primary-color);
    transition: var(--transition);
}

.nav-links a:hover { /* para darle estilo cuando pasas el raton*/
    color: var(--primary-color);
}

.nav-links a:hover:after{
    width: 100%;
}

section{
    padding: 6rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.section-title{
    font-size: 2rem;
    margin-bottom: 3rem; /* para que deje un espacio debajo */
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
}

.section-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--primary-color);
}

.btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    transition: var(--transition);
    border: none;
}

.btn:hover {
    background-color: #5651d8;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

.hero{
    min-height: 100vh; /* queremos que ocupe todo el alto disponible*/
    display: flex; /* para que este todo al lado de la otra*/
    align-items: center;
    padding-top: 5rem;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.hero-text{
    flex: 1;
}

.hero-text h1{
    font-size: 3rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.hero-text h2{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.hero-text p{
    margin-bottom: 1.5rem;
    color: var(--gray-text);
    font-size: 1.1rem;
    max-width: 600px;
}

.social-links{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; /*para que los enlaces esten separados del boton contactame */
}

.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--card-bg);
    color: var(--light-text);
    transition: var(--transition);
    font-size: 1.5rem;
}

.social-links a:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    box-shadow: 0 0 25px rgba(108, 99, 255, 0.5);
    transition: var(--transition);
}

.hero-image img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(108, 99, 255, 0.5);
}

.timeline{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: var(--border-color);
}


.timeline-item{
    position: relative;
    margin: 3rem;
    padding-left: 50px;
}

.timeline-item:before{ /* para las bolitas de la linea de tiempo*/
    content: '';
    position: absolute;
    top: 5px;
    left: -36px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    z-index: 1; 
}

.timeline-content{
    background-color: var(--card-bg);
    padding: 1.5rem;
    border-radius: 10px;
    border-left: 3px solid var(--primary-color);
}

.date{
    display: inline-block;
    padding: .3rem .8rem;
    background-color: rgba(100, 99, 255, 0.2);
    color: var(--primary-color);
    border-radius: 5px;
    font-size: .9rem;
    margin-bottom: 1rem;
}

.timeline-content h3{
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.timeline-content h4{
    color: var(--gray-text);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: .8rem;
}

.skills li{
    font-size: .8rem;
    padding: .3rem .8rem;
    background-color: var(--dark-bg);
    border-radius: 20px;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card{
    background-color: var(--card-bg);
    border-radius: 10px;
    overflow: hidden; /* para ocultar el contenido que se sale de los límites de un elemento contenedor */
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 30px rgba(108, 99, 255, 0.5);
}

.project-img{
    overflow: hidden; /* hace que la imagenn no se salga del contenedor*/
}

.project-img{
    transition: var(--transition);
    width: 100%;
}

.project-card:hover .project-img img{
    transform: scale(1.05); /* efecto de que se agranda la imagen cuando pasamos el cursor */
}

.project-info {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-info h3{
    margin-bottom: .8rem;
    font-size: 1.3rem;
}

.project-info p{
    color: var(--gray-text);
    margin-bottom: 1rem;
    font-size: .95rem;
    flex-grow: 1;
}

.project-tech{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
}

.project-tech span{ /* esto es lo de las tecnologias que usamos en el proyecto */
    font-size: .8rem;
    padding: .2rem .6rem;
    background-color: var(--darker-bg);
    border: 20px;
}

.project-links{
    display: flex;
    gap: 1rem;
}

.project-links a{
    font-size: .9rem;
    color: var(--gray-text);
    transition: var(--transition);
}

.project-links a:hover{
    color: var(--primary-color);
}

footer{
    background-color: var(--darker-bg);
    border-top: 1px solid var(--border-color);
    padding: 2rem 5%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

        /* --- ESTILOS RESPONSIVE --- */
        /* Esto es lo que faltaba */
        
        @media (max-width: 768px) {
            #navbar {
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;
            }
            
            .nav-links {
                 /* Se colapsará en un menú hamburguesa en un siguiente paso, por ahora centrado */
                 justify-content: center;
                 width: 100%;
                 gap: 1.5rem;
            }

            section {
                padding: 4rem 5%;
            }

            .hero {
                min-height: auto;
                padding-top: 8rem; /* Más espacio por el header estático */
                text-align: center;
            }

            .hero-content {
                flex-direction: column-reverse;
                gap: 2rem;
            }

            .hero-text h1 {
                font-size: 2.5rem;
            }

            .hero-text h2 {
                font-size: 1.3rem;
            }

            .social-links {
                justify-content: center;
            }
            
            .hero-image {
                justify-content: center;
            }

            .hero-image img {
                width: 280px;
                height: 280px;
            }

            .timeline:before {
                left: 10px;
            }

            .timeline-item {
                padding-left: 30px;
                margin-left: 0;
            }

            .timeline-item:before {
                left: 1px; /* Ajustado para (10px - 9px) */
            }
            
            .footer-content {
                flex-direction: column;
                gap: 1.5rem;
                text-align: center;
            }
        }
        
        @media (max-width: 480px) {
             .nav-links {
                 gap: 1rem;
                 font-size: 0.9rem;
             }
             
             .hero-text h1 {
                font-size: 2rem;
             }
        }


/* ESTILOS PARA EL FORMULARIO*/
.contacto-section{
    max-width: 600px;
    margin: 6rem auto 3rem;
    padding: 2rem;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.formulario-grupo{
    margin-bottom: 1.5rem;
}

.contacto-section input, .contacto-section textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--darker-bg);
    color: var(--light-text);
    box-sizing: border-box;
}

.contacto-formulario label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--light-text);
}

.contact-header{
    position: static;
    background-color: var(--darker-bg);
    text-align: center;
    padding: 2rem 5%;
    border-bottom: none;
}
.contact-header h1{
    font-size: 2rem;
    color: var(--light-text);
    margin: 0;
}

.contacto-section h2{
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.volver-link{
    text-align: center;
    margin-top: 2rem;
}

.volver-link a{
    color: var(--gray-text);
    transition: var(--transition);
}

.volver-link a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.contacto-section .btn{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 1.5rem;
}